
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header"><b>Ex-3</b></div>
            <div class="card-body">
                <strong>Random Names:"Harshita","Swati","Santoshini","Madhu","Shashwati"</strong>
                <ul id="elContainer" [ngClass]="obsStatus=='Success'?'success':obsStatus=='Error'?'error':''">
    
                </ul>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header"><b>Ex-3</b></div>
            <div class="card-body">
                <strong>Random Names:"Harshita","Swati","Santoshini","Madhu","Shashwati"</strong>
              <div>
                  <h6>{{obsString2}}</h6>
                  
              </div>
            </div>
        </div>
    </div>
    
</div>
