<h3>Async-Subject</h3>
<p>In async Subject we get data from observable only when observable is complete.</p>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card p-2 m-2">
            <strong>Data:</strong>
            <input type="text" class="form-control"  #myInput>
            <button class="btn btn-success m-2" (click)=emitData(myInput.value)>Emit</button>
        </div>
       
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <strong>Ex-01</strong>
            <div class="text-success">{{val}}</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <button class="btn btn-sm btn-success" (click)="subClick1()">Complete Observable</button>
        </div>
    </div>
   
</div>


