<h3>Of </h3>
<div class="row">
    <div class="col-md-4">
        
        <p class="bg light border rounded py-2 px-3">
        <strong>Data:</strong>of("Harshita","Bhanu","Kanchan","Pallavi")
        </p>
        <ul id="elContainer">
           
        </ul>
    </div>
    <div class="col-md-4">
        
        <p class="bg light border rounded py-2 px-3">
        <strong>Data:</strong>of(&#123;a:"Harshita",b:"Bhanu",c:"Kanchan",d:"Pallavi"&#125;)
        </p>
        <ul id="elContainer2">
           <li>{{obsMsg}}</li>
           <li>{{obsMsg}}</li>
           <li>{{obsMsg}}</li>
           <li>{{obsMsg}}</li>
        </ul>
    </div>
</div>
<h3>From </h3>
<div class="row">
    <div class="col-md-4">
        
        <p class="bg light border rounded py-2 px-3">
        <strong>Data:</strong>from(["Harshita","Bhanu","Kanchan","Pallavi"])
        </p>
        <ul id="elContainer3">
           
        </ul>
    </div>
    <div class="col-md-4">
        
        <p class="bg light border rounded py-2 px-3">
        <strong>Data:</strong>Promise to Observable)
        </p>
        <div id="elContainer4">
           {{obsPromise}}
        </div>
    </div>
    <div class="col-md-4">
        
        <p class="bg light border rounded py-2 px-3">
        <strong>Data:</strong>from("Harshita")
        </p>
        <ul id="elContainer5">
           
        </ul>
    </div>
    </div>