<h3>Subject and BehaviorSubject</h3>
<p>Suppose we want to emit data between 2 component who are not direct parent and child
    we can use subject for that.<br>
    Subject is special kind of observable
    which can subscribe as well as can emit data using next()<br>
    Here we are going to add exclusive batch in our navbar when we are in subject
    component or else there will be no such badge.<br>
<br>
In behavior subject we can set the initial value of property.
</p>
<div class="row">
    <h3><strong>UserName:<span class="text-primary">{{username}}</span></strong></h3>
    <div class="col-md-6">
        <app-comp1></app-comp1>
    </div>
    <div class="col-md-6">
        <app-comp2></app-comp2>
    </div>
</div>




