<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-2">
         <div class="card">
             <div class="card-body "><div class="display-6">From-Event</div></div>
             <div class="card-footer"><button class="btn btn-success " (click)="formEventRoute('fromEvent')">Lets Go!</button></div>
         </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-2">
        <div class="card">
            <div class="card-body "><div class="display-6">Interval</div></div>
            <div class="card-footer"><button class="btn btn-sm btn-success " (click)="formEventRoute('interval')">Lets Go!</button></div>
        </div>
   </div>
   <div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">Of and From</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success " (click)="formEventRoute('ofFrom')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-2 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">toArray</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success " (click)="formEventRoute('toArray')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">CustomObservables</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('customObservables')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">Maps</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('maps')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">Pluck</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('pluck')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">Filter</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('filter')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">Tap</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('tap')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">Take</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('take')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">Retry</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('retry')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">Debounce&Distinct</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('debounce')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">Subject</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('subject')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">Replay-Subject</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('replaySubject')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">Async-Subject</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('asyncSubject')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">Concat&Merge</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('concat')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">MergeMap</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('mergeMap')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">ConcatMap</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('concatMap')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">SwitchMap</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('switchMap')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">ExhaustMap</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('exhaustMap')">Lets Go!</button></div>
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-2">
    <div class="card">
        <div class="card-body "><div class="display-6">LiveSearchBar</div></div>
        <div class="card-footer"><button class="btn btn-sm btn-success" (click)="formEventRoute('searchBar')">Lets Go!</button></div>
    </div>
</div>

</div>
