<h3>Concat</h3>
<p>It Concat 2 observables one after the other Eg 1,2,3 and 4,5 becomes 12345</p>
<br>
<div class="row">
    <div class="col-md-4 p-4">
        <strong>Source-1 | Tech Channel</strong>
        <hr>
        <div class="alert-secondary"><strong >Tech Video list:</strong>1,2,3,4,5 </div>
    </div>
    <div class="col-md-4 p-4">
        <strong>Source-1 | Comedy Channel</strong>
        <hr>
        <div class="alert-secondary"><strong >Comedy Video list:</strong>1,2,3 </div>
    </div>
    <div class="col-md-4 p-4">
        <strong>Source-1 | Food Channel</strong>
        <hr>
        <div class="alert-secondary"><strong >Food Video list:</strong>1,2,3,4 </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Your Channel Concat</div>
            <div class="card-body">
                <ul id="elContainer">
                  
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Your Channel Merge</div>
            <div class="card-body">
                <ul id="elContainer2">
                  
                </ul>
            </div>
        </div>
    </div>
    
</div>