<h3>Zip and ForkJoin</h3>
<p>If there are 2 observables and both detect some changes zip is called</p>
<hr>
<div class="row">
    <div class="col-md-4">
        <strong>Names</strong>
        <hr>
        <select class="form-control" #name>
            <option value="" selected disabled>-select-</option>
            <option value="Ross">Ross</option>
            <option value="Rachel">Rachel</option>
            <option value="Chandler">Chandler</option>
            <option value="Monica">Monica</option>
            <option value="Phoebe">Phoebe</option>
            <option value="Joey">Joey</option>
        </select>
        <hr>
        <strong>Colors</strong>
        <hr>
        <select class="form-control" #clr>
            <option value="" selected disabled>-select-</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>

        </select>
    </div>
    <div class="col-md-8">
        <strong>Zip</strong>
        <hr>
        <div id="block"></div>
        <hr>
        <strong>ForkJoin</strong>
        <hr>
        <div id="block2"></div>
    </div>
   
</div>