<h3>Take TakeLast and TakeUntil</h3>
<p>It is used to take certain amount of data required.</p>
<div class="row">
    <p><strong>Data:</strong>['red','orange','yellow','green','blue','indigo','violet']</p>
    <div class="col-md-4">
         <div class="card">
             <div class="card-header">
                 Take
             </div>
             <div class="card-body">
<ul id="elContainer">

</ul>
             </div>
         </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                TakeLast 
            </div>
            <div class="card-body">
                <ul id="elContainer2">

                </ul>
            </div>
        </div>
   </div>
   <div class="col-md-4">
    <div class="card">
        <div class="card-header">
            TakeUntil
        </div>
        <div class="card-body">
            <ul id="elContainer3">
                    
                </ul>
        </div>
    </div>
</div>
</div>
